beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colorifix==1.0.8
emoji==1.2.0
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.53.0
halo==0.0.31
httplib2==0.19.0
idna==2.10
log-symbols==0.0.14
packaging==20.9
protobuf==3.15.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymortafix==0.0.7
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
soupsieve==2.2
spinners==0.0.24
termcolor==1.1.0
uritemplate==3.0.1
urllib3==1.26.3
