APScheduler==3.6.3
beautifulsoup4==4.11.1
bs4==0.0.1
cachetools==4.2.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
colorifix==2.0.4
emoji==1.7.0
halo==0.0.31
idna==3.3
log-symbols==0.0.14
pymortafix==0.2.2
python-telegram-bot==13.12
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.0
six==1.16.0
soupsieve==2.3.2.post1
spinners==0.0.24
termcolor==1.1.0
tornado==6.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
youtube-dl==2021.12.17
